[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
six = "*"
tqdm = "*"
torch = ">=0.4.1"
future = "*"
numpy = "*"

[dev-packages]

[requires]
python_version = ">=3.6"
